/* index.html */
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700&display=swap');
*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Poppins', sans-serif;
}
.main-background{
  display: flex;
  align-items: center;
  justify-content: center;
  min-height: 100vh;
  border: 20px solid white;
  background-image: url("../img/background.png");
  background-size: cover;
  background-repeat: no-repeat;
}
.main-content {
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.main-title {
    color: white;
    font-size: 100px;
    font-weight: bolder;
}
.main-top {
  display: flex;
  justify-content: center;
  align-items: center;
}
.main-yellow {
    color:yellow;
}
.main-dot {
    height: 50px;
}
.triangle {
    height: 100px;
    
}
.wrapper{
  display: flex;
}
.wrapper .static-txt{
  color: #fff;
  font-size: 60px;
  font-weight: 400;
}
.wrapper .dynamic-txts{
  margin-left: 15px;
  height: 90px;
  line-height: 90px;
  overflow: hidden;
}
.dynamic-txts li{
  list-style: none;
  color: #FC6D6D;
  font-size: 60px;
  font-weight: 500;
  position: relative;
  top: 0;
  animation: slide 12s steps(4) infinite;
}
@keyframes slide {
  100%{
    top: -360px;
  }
}
.dynamic-txts li span{
  position: relative;
  margin: 5px 0;
  line-height: 90px;
}
.dynamic-txts li span::after{
  content: "";
  position: absolute;
  left: 0;
  height: 100%;
  width: 100%;
  background: black;
  border-left: 2px solid #FC6D6D;
  animation: typing 3s steps(10) infinite;
}
@keyframes typing {
  40%, 60%{
    left: calc(100% + 30px);
  }
  100%{
    left: 0;
  }
}
hr {
  border: 5px solid white;
  width: 50%;
  margin: 0 auto;
}

.btn {
  text-decoration: none;
  padding: 20px 50px;
  font-size: 1.25rem;
  position: relative;
  margin: 10px auto;
}

.btn-2 {
  color: white;
}

.btn-2::after,
.btn-2::before {
  border: 3px solid white;
  content: "";
  position: absolute;
  width: calc(100% - 6px);
  height: calc(100% - 6px);
  left: 0;
  bottom: 0;
  z-index: 0;
  transition: transform 0.3s ease;
}
.btn-2:hover::after {
  transform: translate(-5px, -5px);
}

.btn-2:hover::before {
  transform: translate(5px, 5px);
}
/* home.html */
.triangle-logo {
  height: 50px;;
}
.header {
	height: 55px;
	color: white;
	background-color: #121212;
	display: flex;
	align-items: center;
	justify-content: space-between;
	padding: 0 200px;
}
.header-text {
  display: flex;
  align-items: center;
	font-size: 24px;
	font-weight: 900;
}
.right-nav {
	display: flex;
	list-style: none;
}
.right-nav > * {
	margin: 10px;
	font-weight: 600;
}
.mySlides {display: none;}
img {vertical-align: middle;}

/* Slideshow container */
.slideshow-container {
  max-width: 100%;
  position: relative;
  margin: auto;
  ;
}
.imageslide {
  width: 100%;
  height: 75vh;
  object-fit: cover;
}

/* Caption text */
.text {
  display: flex;
  justify-content: center;
  align-items: flex-end;
  background: linear-gradient(to bottom, rgba(0,0,0,0), black);
  color: #f2f2f2;
  font-size: 15px;
  padding: 8px 12px;
  position: absolute;
  bottom: 0px;
  width: 100%;
  height: 300px;
  font-size: x-large;
  font-style: italic;
}

/* Number text (1/3 etc) */
.numbertext {
  color: #f2f2f2;
  font-size: 12px;
  padding: 8px 12px;
  position: absolute;
  top: 0;
}
.dot-div {
  background-color: black;
}
/* The dots/bullets/indicators */
.dot {
  
  height: 15px;
  width: 15px;
  margin: 0 2px;
  background-color: #bbb;
  border-radius: 50%;
  display: inline-block;
  transition: background-color 0.6s ease;
}

.active {
  background-color: #717171;
}

/* Fading animation */
.fade {
  -webkit-animation-name: fade;
  -webkit-animation-duration: 1.5s;
  animation-name: fade;
  animation-duration: 1.5s;
}

@-webkit-keyframes fade {
  from {opacity: .4} 
  to {opacity: 1}
}

@keyframes fade {
  from {opacity: .4} 
  to {opacity: 1}
}

/* On smaller screens, decrease text size */
@media only screen and (max-width: 300px) {
  .text {font-size: 11px}
}
.content-feature {
  flex: 1;
  display: flex;
  align-items: flex-start;
  margin-top: 24px;
}
.sidebar {
  width: 300px;
  background: #FFE200;
  flex-shrink: 0;
  
  display: flex;
  justify-content: center;
  padding: 16px;
}
.sidetext {
  font-size: xx-large;
  display: flex;
}
.card {
  width: 290px;
  background: #1A1A1A;
  box-shadow: 20px 16px rgba(0, 0, 255, .2);
  border-radius: 0 0 5px 5px;
	overflow: hidden;
  margin: 12px 36px;
}
.card-image {
  width: 290px;
  height: 420px;
  object-fit: cover;
  transition: transform .2s
}
.card-image:hover {
  transform: scale(1.5);
}
.rating-modal {
  display: flex;
  align-items: center;
  padding: 10px;
}
.star {
  height: 20px;
}
.digit {
  font-size: large;
  font-weight: bolder;
  color: #BABABA;
}
.movie-title {
  color: white;
  font-size: 20px;
  font-weight: bolder;
  text-align: center;
}
.movie-items {
  width: 100%;
  padding: 32px;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}
.top-content-div {
  padding: 10px 100px;
  
}
.top-content {
  background-color: #121212;
  background-image: linear-gradient(to left,rgba(0,0,0,0), black)
}
.top-content-header {
  color: white;
}
.top-para {
  color:gainsboro;
}
.top-items {
  height: 250px;
  display: flex;
  flex-flow:wrap;
  background-color:#121212;
  
}
.top-item {
  display: flex;
  background-color: #121212;
  padding: 16px;
  width: 640px;
  flex-shrink: 0;
  margin: 0 auto;
  
}
.top-item-selected {
  display: flex;
  background-color: #121212;
  padding: 16px;
  width: 640px;
  flex-shrink: 0;
  margin: 0 auto;
  background-image: linear-gradient(to right,rgba(0,0,0,0), black)
}
.top-item-text, .top-title {
  color: white;
  font-weight: bold;
}
.top-earning {
  color: lightgray;
  font-weight:bold;
}
.bookmark {
  height: 50px;
  margin: 0 10px;
}
.social-media{
  margin: 0;
  padding-top: 20px;
  display: grid;
  height: 100%;
  width: 100%;
  place-items: center;
  background-color: black;
}
.wrapper .button{
  display: inline-block;
  height: 60px;
  width: 60px;
  float: left;
  margin: 0 5px;
  overflow: hidden;
  background: #fff;
  border-radius: 50px;
  cursor: pointer;
  box-shadow: 0px 10px 10px rgba(0,0,0,0.1);
  transition: all 0.3s ease-out;
}
.wrapper .button:hover{
  width: 200px;
}
.wrapper .button .icon{
  display: inline-block;
  height: 60px;
  width: 60px;
  text-align: center;
  border-radius: 50px;
  box-sizing: border-box;
  line-height: 60px;
  transition: all 0.3s ease-out;
}
.wrapper .button:nth-child(1):hover .icon{
  background: #4267B2;
}
.wrapper .button:nth-child(2):hover .icon{
  background: #1DA1F2;
}
.wrapper .button:nth-child(3):hover .icon{
  background: #E1306C;
}
.wrapper .button:nth-child(4):hover .icon{
  background: #333;
}
.wrapper .button:nth-child(5):hover .icon{
  background: #ff0000;
}
.wrapper .button .icon i{
  font-size: 25px;
  line-height: 60px;
  transition: all 0.3s ease-out;
}
.wrapper .button:hover .icon i{
  color: #fff;
}
.wrapper .button span{
  font-size: 20px;
  font-weight: 500;
  line-height: 60px;
  margin-left: 10px;
  transition: all 0.3s ease-out;
}
.wrapper .button:nth-child(1) span{
  color: #4267B2;
}
.wrapper .button:nth-child(2) span{
  color: #1DA1F2;
}
.wrapper .button:nth-child(3) span{
  color: #E1306C;
}
.wrapper .button:nth-child(4) span{
  color: #333;
}
.wrapper .button:nth-child(5) span{
  color: #ff0000;
}

.footer {
	height: 75px;
	background-color: black;
	display: flex;
	align-items: center;
	justify-content: center;
}
.footer-text {
	color: white;
}
/* Movie-Description CSS Templates */

.hero-content {
  width: 100%;
  height: 90vh;
  padding: 100px 75px;
  background: linear-gradient(to left, rgba(0, 0, 0, 0.100), black), url("../img/movie-hero1.jpg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}
.hero-size {
  height: 25vh;
  margin-bottom: 40px;
}
.hero-title {
  color:white;
  font-size: 24px;
  margin-bottom:15px;
}
.hero-info {
  color:lightgray;
  margin-bottom:15px;
}
.hero-description {
  color:white;
  width: 500px;
  margin-bottom:15px;
}
.starring {
  color:white;
  margin-bottom: 25px;
}
.gray {
  color:lightgray;
}
.button-trailer {
  color:white;
  background:transparent;
  padding: 10px;
  border: 3px solid white;
  text-decoration:none;
  transition: 1s;
}
.button-trailer:hover {
  color:yellow;
  border: 3px solid yellow;
}
.pic-slider {
  color:white;
  background-color: black;
  padding: 25px 10px;
}
.slider-image {
  height: 85vh;
  object-fit: cover;
  margin-bottom: 24px;
}
.slider-text {
  font-size: xx-large;
  margin-left:100px;
  margin-bottom: 25px;
}
#slider {
	overflow: hidden;
  margin: 10px 200px;
  margin-bottom: 0px;
}
#slider figure {
	position: relative;
	width: 500%;
	margin: 0;
	left: 0;
	animation: 20s slider infinite;
}
#slider figure img {
	width: 20%;
	float: left;
}

@keyframes slider {
	0% {
		left: 0;
	}
	20% {
		left: 0;
	}
	25% {
		left: -100%;
	}
	45% {
		left: -100%;
	}
	50% {
		left: -200%;
	}
	70% {
		left: -200%;
	}
	75% {
		left: -300%;
	}
	95% {
		left: -300%;
	}
	100% {
		left: -400%;
	}
}
.mc-content {
  margin-bottom: 25px;
}
.mc-content-text {
  margin-top: 12px;
  padding-left: 75px;
  background-color: yellow;
  width: 140px;
  font-weight: bolder;
  font-size: 50px;
}
.cast-card {
  height: 475px;
  background-color: #292929;
  color:white;
  margin: 20px;
  transition: all .3s ease-in-out;
}
.cast-card:hover {
  box-shadow: 0 10px 20px 10px gray;
}
.cast-cards {
  display: flex;
  justify-content: center;
}
.cast-image {
  height: 400px;
  width:260px;
  object-fit: cover;
}
.starring-text {
  padding:10px;
}
.actor-starring {
  font-weight: 900;
}
.starring-as {
  color: #999999;
}