/* index.html */
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700&display=swap');
*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Poppins', sans-serif;
}
.main-background{
  display: flex;
  align-items: center;
  justify-content: center;
  min-height: 100vh;
  border: 20px solid white;
  background-image: url("../img/background.png");
  background-size: cover;
  background-repeat: no-repeat;
}
.main-content {
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.main-title {
    color: white;
    font-size: 100px;
    font-weight: bolder;
}
.main-top {
  display: flex;
  justify-content: center;
  align-items: center;
}
.main-yellow {
    color:yellow;
}
.main-dot {
    height: 50px;
}
.triangle {
    height: 100px;
    
}
.wrapper{
  display: flex;
}
.wrapper .static-txt{
  color: #fff;
  font-size: 60px;
  font-weight: 400;
}
.wrapper .dynamic-txts{
  margin-left: 15px;
  height: 90px;
  line-height: 90px;
  overflow: hidden;
}
.dynamic-txts li{
  list-style: none;
  color: #FC6D6D;
  font-size: 60px;
  font-weight: 500;
  position: relative;
  top: 0;
  animation: slide 12s steps(4) infinite;
}
@keyframes slide {
  100%{
    top: -360px;
  }
}
.dynamic-txts li span{
  position: relative;
  margin: 5px 0;
  line-height: 90px;
}
.dynamic-txts li span::after{
  content: "";
  position: absolute;
  left: 0;
  height: 100%;
  width: 100%;
  background: black;
  border-left: 2px solid #FC6D6D;
  animation: typing 3s steps(10) infinite;
}
@keyframes typing {
  40%, 60%{
    left: calc(100% + 30px);
  }
  100%{
    left: 0;
  }
}
hr {
  border: 5px solid white;
  width: 50%;
  margin: 0 auto;
}

.btn {
  text-decoration: none;
  padding: 20px 50px;
  font-size: 1.25rem;
  position: relative;
  margin: 10px auto;
}

.btn-2 {
  color: white;
}

.btn-2::after,
.btn-2::before {
  border: 3px solid white;
  content: "";
  position: absolute;
  width: calc(100% - 6px);
  height: calc(100% - 6px);
  left: 0;
  bottom: 0;
  z-index: 0;
  transition: transform 0.3s ease;
}
.btn-2:hover::after {
  transform: translate(-5px, -5px);
}

.btn-2:hover::before {
  transform: translate(5px, 5px);
}
/* home.html */
.triangle-logo {
  height: 50px;;
}
.header {
	height: 55px;
	color: white;
	background-color: #121212;
	display: flex;
	align-items: center;
	justify-content: space-between;
	padding: 0 200px;
}
.header-text {
  display: flex;
  align-items: center;
	font-size: 24px;
	font-weight: 900;
}
ul {
	display: flex;
	list-style: none;
}
li {
	margin: 10px;
	font-weight: 600;
}
.mySlides {display: none;}
img {vertical-align: middle;}

/* Slideshow container */
.slideshow-container {
  max-width: 100%;
  position: relative;
  margin: auto;
  ;
}
.imageslide {
  width: 100%;
  height: 75vh;
  object-fit: cover;
}

/* Caption text */
.text {
  display: flex;
  justify-content: center;
  align-items: flex-end;
  background: linear-gradient(to bottom, rgba(0,0,0,0), black);
  color: #f2f2f2;
  font-size: 15px;
  padding: 8px 12px;
  position: absolute;
  bottom: 0px;
  width: 100%;
  height: 300px;
  font-size: x-large;
  font-style: italic;
}

/* Number text (1/3 etc) */
.numbertext {
  color: #f2f2f2;
  font-size: 12px;
  padding: 8px 12px;
  position: absolute;
  top: 0;
}
.dot-div {
  background-color: black;
}
/* The dots/bullets/indicators */
.dot {
  
  height: 15px;
  width: 15px;
  margin: 0 2px;
  background-color: #bbb;
  border-radius: 50%;
  display: inline-block;
  transition: background-color 0.6s ease;
}

.active {
  background-color: #717171;
}

/* Fading animation */
.fade {
  -webkit-animation-name: fade;
  -webkit-animation-duration: 1.5s;
  animation-name: fade;
  animation-duration: 1.5s;
}

@-webkit-keyframes fade {
  from {opacity: .4} 
  to {opacity: 1}
}

@keyframes fade {
  from {opacity: .4} 
  to {opacity: 1}
}

/* On smaller screens, decrease text size */
@media only screen and (max-width: 300px) {
  .text {font-size: 11px}
}
.content-feature {
  flex: 1;
  display: flex;
  align-items: flex-start;
  margin-top: 24px;
}
.sidebar {
  width: 300px;
  background: #FFE200;
  flex-shrink: 0;
  
  display: flex;
  justify-content: center;
  padding: 16px;
}
.sidetext {
  font-size: xx-large;
  display: flex;
}
.card {
  width: 290px;
  background: #1A1A1A;
  box-shadow: 20px 16px rgba(0, 0, 255, .2);
  border-radius: 0 0 5px 5px;
	overflow: hidden;
  margin: 12px 36px;
}
.card-image {
  width: 290px;
  height: 420px;
  object-fit: cover;
}
.rating-modal {
  display: flex;
  align-items: center;
  padding: 10px;
}
.star {
  height: 20px;
}
.digit {
  font-size: large;
  font-weight: bolder;
  color: #BABABA;
}
.movie-title {
  color: white;
  font-size: 20px;
  font-weight: bolder;
  text-align: center;
}
.movie-items {
  width: 100%;
  padding: 32px;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}
.top-items {
  height: 250px;
  display: flex;
  flex-flow:wrap;
  background-color:#121212;
  
}
.top-item {
  display: flex;
  background-color: #121212;
  padding: 16px;
  width: 640px;
  flex-shrink: 0;
  margin: 0 auto;
  
}
.top-item-selected {
  display: flex;
  background-color: #121212;
  padding: 16px;
  width: 640px;
  flex-shrink: 0;
  margin: 0 auto;
  background-image: linear-gradient(to right,rgba(0,0,0,0), black)
}
.top-item-text, .top-title {
  color: white;
  font-weight: bold;
}
.top-earning {
  color: lightgray;
  font-weight:bold;
}
.bookmark {
  height: 50px;
  margin: 0 10px;
}
.footer {
	height: 75px;
	background-color: black;
	display: flex;
	align-items: center;
	justify-content: center;
}
.footer-text {
	color: white;
}
