@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700&display=swap');
*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Poppins', sans-serif;
}
.main-background{
  display: flex;
  align-items: center;
  justify-content: center;
  min-height: 100vh;
  border: 20px solid white;
  background-image: url("../img/background.png");
  background-size: cover;
  background-repeat: no-repeat;
}
.main-content {
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.main-title {
    color: white;
    font-size: 100px;
    font-weight: bolder;
}
.main-top {
  display: flex;
  justify-content: center;
  align-items: center;
}
.main-yellow {
    color:yellow;
}
.main-dot {
    height: 50px;
}
.triangle {
    height: 100px;
    
}
.wrapper{
  display: flex;
}
.wrapper .static-txt{
  color: #fff;
  font-size: 60px;
  font-weight: 400;
}
.wrapper .dynamic-txts{
  margin-left: 15px;
  height: 90px;
  line-height: 90px;
  overflow: hidden;
}
.dynamic-txts li{
  list-style: none;
  color: #FC6D6D;
  font-size: 60px;
  font-weight: 500;
  position: relative;
  top: 0;
  animation: slide 12s steps(4) infinite;
}
@keyframes slide {
  100%{
    top: -360px;
  }
}
.dynamic-txts li span{
  position: relative;
  margin: 5px 0;
  line-height: 90px;
}
.dynamic-txts li span::after{
  content: "";
  position: absolute;
  left: 0;
  height: 100%;
  width: 100%;
  background: black;
  border-left: 2px solid #FC6D6D;
  animation: typing 3s steps(10) infinite;
}
@keyframes typing {
  40%, 60%{
    left: calc(100% + 30px);
  }
  100%{
    left: 0;
  }
}
hr {
  border: 5px solid white;
  width: 50%;
  margin: 0 auto;
}

.btn {
  text-decoration: none;
  padding: 20px 50px;
  font-size: 1.25rem;
  position: relative;
  margin: 10px auto;
}

.btn-2 {
  color: white;
}

.btn-2::after,
.btn-2::before {
  border: 3px solid white;
  content: "";
  position: absolute;
  width: calc(100% - 6px);
  height: calc(100% - 6px);
  left: 0;
  bottom: 0;
  z-index: 0;
  transition: transform 0.3s ease;
}
.btn-2:hover::after {
  transform: translate(-5px, -5px);
}

.btn-2:hover::before {
  transform: translate(5px, 5px);
}
